pkgbase = zmnt
	pkgdesc = Interactive terminal and graphical ZFS mount wizard
	pkgver = 0.1.0
	pkgrel = 3
	url = https://github.com/your-account/zmnt
	arch = any
	license = GPL-3.0-or-later
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = pyside6
	depends = zfs-utils
	depends = systemd
	depends = xdg-utils

pkgname = zmnt
